.filtersBox {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #a5a5a591;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #a5a5a520;
}

.filtersBox .filterDiv {
  margin: 15px auto;
  position: relative;
}

.filtersBox .filterDiv .heading {
  /* font-weight: 700; */
  font-size: 1rem;
  font-weight: 600;
}

.filtersBox .filterDiv .filterOption {
  /* font-weight: 700; */
  display: block;
  font-size: 0.8rem;
  cursor: pointer;
}

.filtersBox .filterDiv .filterOption:hover {
  box-shadow: 0px 0px 1px black;
}

.filtersBox .filterDiv .extraOptions {
  position: absolute;
  top: -20px;
  left: 150px;
  height: 250px;
  width: 150px;
  z-index: 10;
  overflow: hidden;
}

.filtersBox .filterDiv .extraOptions .options {
  height: 84%;
  overflow-y: auto;
  margin-bottom: 5px;
  padding: 1px;
  border-radius: 1px;
  /* box-shadow: 0px 0px 2px gray; */
}

.filtersBox .filterDiv .extraOptions .subHeading {
  font-size: 0.8rem;
  vertical-align: 50%;
}

.smallCross {
  padding: 1px 5px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.7rem;
  border: none;
}
