.userInfo {
  background: white;
  padding: 30px;
}
.userInfo .userThumbnail {
  width: 100%;
  border-radius: 5px;
}

.userHistory {
  margin: 10px;
  padding: 10px;
}

.userHistory .options {
  font-size: 0.9rem;
  cursor: pointer;
}
.userHistory .options:hover {
  background: rgb(224, 224, 224);
  color: black;
}
